---
layout: layout
---

<div class="container">
  <div class="wf-section wf-contact-section">
    <div class="contact-content">
      <div class="contact-inner-wrap">
        <div class="left-block">
          <h3 class="font-me text-white">CONTACT US.</h3>
          <p class="font-poppins text-white">
            Communication requires us to expend energy which is never free and
            as you can appreciate we have to charge a nominal fee for this
            initial consumption of energy.
          </p>
          <p class="font-poppins text-white">
            Please send 0.0049 BTC to the following email address
            <a href="">hello@orbitlabs.xyz</a> and include your unique code
            which is:
          </p>
          <div class="my-2 contact-number">
            <a class="text-white font-poppins" href="">958993243</a>
          </div>
          <p class="font-poppins text-white">
            We will contact you to discuss your requirements and if we end up
            working together then we will refund this cost to you on your first
            invoice.
          </p>
        </div>
        <div class="right-block">
          <div class="qr-block">
            <div class="qr-img">
              <img src="/assets/images/qr.png" class="img-responsive" alt="" />
            </div>
            <div class="qr-code">
              <h4 class="text-white font-me">
                BC1Q63VHZA4JC7096W4SKYZF6JTK30YLNF2SSMHPFJ
              </h4>
            </div>
            <div class="mt-2">
              <a
                class="theme-btn btn font-poppins search-btn w-100 text-center"
                href=""
              >
                <img src="/assets/images/icons/search.svg" alt="" />
                <span>View on Block Explorer</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
